footer {
	@include background-image(linear-gradient(top,  rgba(243,137,137,1) 0%,rgba(109,0,25,1) 100%));
	.copyright {	
		p {
			margin: 0;
			font-size: 12px;
			line-height: 40px;
			color:#6C1E1E;
		}
	}	
	.info {
		ul {
			margin: 0;
			font-size: 0;
			line-height: 40px;
			text-align:right;
			li {
				display: inline-block;
				margin: 0 5px;
				font-size: 12px;
				&:last-child {
					margin-right: 0;
				}
				a {
					text-decoration: none;
					color:#E79696;
					@include transition-property(all);
					@include transition-duration(400ms);
					&:hover {
						color: #ffffff;
					}
				}
			}
		}
	}	
}