/* line 17, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../scss/layouts/_container.scss */
.container .row {
  color: #4D4D4D;
}
/* line 4, ../scss/layouts/_container.scss */
.container .row .col-md-1 {
  width: 20px;
  height: 1050px;
  background-image: url(../../images/background2.png);
  background-repeat: repeat-y;
}
/* line 11, ../scss/layouts/_container.scss */
.container .row .col-md-8 .base-section {
  margin-left: 10px;
  padding-top: 20px;
}
/* line 14, ../scss/layouts/_container.scss */
.container .row .col-md-8 .base-section h3 {
  font-style: italic;
  line-height: 35px;
}
/* line 18, ../scss/layouts/_container.scss */
.container .row .col-md-8 .base-section p {
  line-height: 22px;
}
/* line 23, ../scss/layouts/_container.scss */
.container .row .row {
  margin-left: 10px;
  margin-top: 40px;
  padding: 10px 2px;
  border: 1px solid #FFBFBF;
}
/* line 32, ../scss/layouts/_container.scss */
.container .row .col-md-3 nav {
  padding-top: 40px;
}
/* line 34, ../scss/layouts/_container.scss */
.container .row .col-md-3 nav ul {
  margin-left: 50px;
  font-size: 14px;
}
/* line 37, ../scss/layouts/_container.scss */
.container .row .col-md-3 nav ul li {
  list-style-type: none;
  line-height: 30px;
}
/* line 41, ../scss/layouts/_container.scss */
.container .row .col-md-3 nav ul a {
  text-decoration: none;
  color: #AEAEAE;
}
/* line 44, ../scss/layouts/_container.scss */
.container .row .col-md-3 nav ul a:hover {
  color: #575757;
}
